extends layout
block content
  nav.navbar.navbar-default
    .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Arduino Weather
        |     
        div
          ul.nav.navbar-nav
            li
              a(href='/') Home
            |         
            li.active
              a(href='/data') Data
            |         
            li
              a(href='/contact') Contact
            |         
            li
              a(href='https://www.linkedin.com/in/weberle') LinkedIn
            li
              a(href="https://github.com/weberl48") Github
  table(class="table table-hover")
        thead
          tr
            th City
            th Temp
            th Max Temp
            th Min Temp
            th Conditions
            th Date
        tbody
          for w in weather
            tr
              td= w.city
              td= w.temp
              td= w.maxTemp
              td= w.minTemp
              td= w.conditions
              td= w.date
            
